*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    text-align: center;
    background-color: hsl(204, 97%, 85%);
    width: 100vw;
    overflow: hidden;
}
nav{
    
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    background-color: hsl(204, 97%, 70%);
}
.text{
    height: auto;
    width: 100%;
  
}
.text p{
    margin: 5px;
    padding: 3px;
    font-size: smaller;
    width: min(700px,100vw);
    border-radius: 5px;
}
.text .me{
    background-color: hsla(307, 80%, 70%, 0.721);
    margin-left: auto;
    text-align: right;
}
.text .she{
    background-color:  hsla(269, 70%, 70%, 0.646);
    text-align: left;
}
form{
    position: absolute;
    bottom: 0;
    margin:.5%;
    background-color: white;
    /* border: 1px aqua solid; */
    border-radius: 5px;
    padding: 2px;
    width: 99%;
    height: 34px;
}
form input{
   /* background-color: blue; */
   outline: none; 
   border: none;
   width: 90%;
   height: 100%;
}
button{
    width: 8%;
    /* padding: 0 2px; */
    height: 100%;
    outline: none;
    /* background-color: tomato; */
    background: none;
    border: none;
    cursor: pointer;
    /* outline: 1px blue solid; */
    border-left: 1px rgb(228, 50, 100) solid;
}
form button i{
    color: rgb(228, 50, 100);
    /* background-color: hsl(9, 100%, 90%); */
    font-size: x-large;
}